* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .clearfix{
    clear:both;
  }
  .header-banner{
    padding-top:35px;
    padding-bottom:100px;
    font-family:Helvetica, serif;
    font-weight:100;
    background-attachment:scroll, scroll;
    background-position:left top, center center;
    background-repeat:repeat-y, no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/static/webapp/static/Home.png");
    height: 500px;
  }
  .container-width{
    width:90%;
    max-width:1150px;
    margin:0 auto;
  }
  .logo-container{
    float:left;
    width:50%;
  }
  .logo{
    background-color:#41257F;
    border-radius:5px;
    width:130px;
    padding:10px;
    min-height:30px;
    text-align:center;
    line-height:30px;
    color:#FFFFFF;
    font-size:23px;
    font-family:Helvetica, serif;
    font-weight: 500;
  }
  .menu{
    float:right;
    width:50%;
  }
  .menu-item{
    float:right;
    font-size:15px;
    color:#eee;
    widows: 150px;
    padding:10px;
    min-height:50px;
    text-align:center;
    line-height:30px;
    font-weight:400;
    background-color: #41257F;
    cursor:pointer;
    border: #55B2AE;
    border-style: solid;
    font-family:Helvetica, serif;
    border-radius:5px;
    margin-right:5px;
  }
  .menu-item:hover{
    background-color:#ffffff;
    color:#41257F;
    border:#41257F;
    border-style: solid;
  }
  .lead-title{
    margin:150px 0 30px 0;
    font-size:40px;
    color: #41257F;
    font-family:Helvetica, serif;
  }
  .sub-lead-title{
    max-width:650px;
    line-height:30px;
    margin-bottom:30px;
    font-size: 40px;
    font-family:Helvetica, serif;
  }
  .lead-btn{
    margin-top:15px;
    padding:10px;
    width:190px;
    min-height:30px;
    font-size:20px;
    text-align:center;
    letter-spacing:3px;
    line-height:30px;
    background-color:#41257F;
    color: #ffffff;
    border-radius:5px;
    transition:all 0.5s ease;
    cursor:pointer;
    font-family:Helvetica, serif;
  }
  .lead-btn:hover{
    background-color:#EB852F;
    color:#ffffff;
  }
  .lead-btn:active{
    background-color:#EB852F;
    color:#ffffff;
  }
  .flex-sect{
    background-color:#fafafa;
    padding:100px 0;
    font-family:Helvetica, serif;
  }
  .flex-title{
    margin-bottom:15px;
    font-size:2em;
    text-align:center;
    font-weight:700;
    color:#222222;
    padding:5px;
  }
  .flex-desc{
    margin-bottom:55px;
    font-size:1em;
    color:rgba(0, 0, 0, 0.5);
    text-align:center;
    padding:5px;
  }
  .cards{
    padding:20px 0;
    display:flex;
    justify-content:space-around;
    flex-flow:wrap;
  }
  .card{
    background-color: #FFFFFF;
    height:400px;
    width:300px;
    margin-bottom:30px;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius:2px;
    transition:all 0.5s ease;
    font-weight:100;
    overflow:hidden;
  }
  .card:hover{
    margin-top:-5px;
    box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
    cursor:pointer;
  }
  .card-header{
    height:155px;
    background-image:url("/static/webapp/static/4.png");
    background-size:cover;
    background-position:center center;
  }
  .card-header.ch2{
    background-image:url("/static/webapp/static/3.png");
  }
  .card-header.ch3{
    background-image:url("/static/webapp/static/2.png");
  }
  .card-header.ch4{
    background-image:url("/static/webapp/static/5.png");
  }
  .card-header.ch5{
    background-image:url("/static/webapp/static/1.png");
  }
  .card-header.ch6{
    background-image:url("/static/webapp/static/7.png");
  }
  .card-header.ch7{
    background-image:url("/static/webapp/static/8.png");
  }
  .card-header.ch8{
    background-image:url("/static/webapp/static/6.png");
  }
  .card-header.ch9{
    background-image:url("/static/webapp/static/9.png");
  }
  .card-body{
    padding:15px 15px 5px 15px;
    color:#555;
  }
  .card-title{
    font-size:1rem;
    margin-bottom:5px;
  }
  .card-desc{
    color:#b3b3b3;
    font-size:0.8em;
    line-height:17px;
  }
  .price-cards{
    margin-top:70px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
  }
  .footer-under{
    background-color:#312833;
    padding-bottom:100px;
    padding-top:100px;
    min-height:500px;
    color:#eee;
    position:relative;
    font-weight:100;
    font-family:Helvetica,serif;
  }
  .copyright{
    background-color:rgba(0, 0, 0, 0.15);
    color:rgba(238, 238, 238, 0.5);
    bottom:0;
    padding:1em 0;
    position:absolute;
    width:100%;
    font-size:0.75em;
  }
  .made-with{
    float:left;
    width:50%;
    padding:5px 0;
  }
  .foot-social-btns{
    display:none;
    float:right;
    width:50%;
    text-align:right;
    padding:5px 0;
  }
  .footer-container{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
  }
  .foot-list{
    float:left;
    width:200px;
  }
  .foot-list-title{
    font-weight:400;
    margin-bottom:10px;
    padding:0.5em 0;
  }
  .foot-list-item{
    color:rgba(238, 238, 238, 0.8);
    font-size:0.8em;
    padding:0.5em 0;
  }
  .foot-list-item:hover{
    color:rgba(238, 238, 238, 1);
  }
  .foot-form-cont{
    width:300px;
    float:right;
  }
  .foot-form-title{
    color:rgba(255,255,255,0.75);
    font-weight:400;
    margin-bottom:10px;
    padding:0.5em 0;
    text-align:right;
    font-size:2em;
  }
  .foot-form-desc{
    font-size:0.8em;
    color:rgba(255,255,255,0.55);
    line-height:20px;
    text-align:right;
    margin-bottom:15px;
  }
  .sub-input{
    width:100%;
    margin-bottom:15px;
    padding:7px 10px;
    border-radius:2px;
    color:#fff;
    background-color:#554c57;
    border:none;
  }
  .sub-btn{
    width:100%;
    margin:15px 0;
    background-color:#785580;
    border:none;
    color:#fff;
    border-radius:2px;
    padding:7px 10px;
    font-size:1em;
    cursor:pointer;
  }
  .sub-btn:hover{
    background-color:#91699a;
  }
  .sub-btn:active{
    background-color:#573f5c;
  }
  .bdg-sect{
    padding-top:50px;
    padding-bottom:100px;
    font-family:Helvetica, serif;
    background-color:#222222;
  }
  .bdg-title{
    text-align:center;
    font-size:2em;
    margin-bottom:55px;
    color:#ffffff;
  }
  .badges{
    padding:20px;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-wrap:wrap;
  }
  .badge{
    width:290px;
    font-family:Helvetica, serif;
    background-color:white;
    margin-bottom:30px;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius:15px;
    font-weight:100;
    overflow:hidden;
    text-align:center;
  }
  .badge-header{
    height:135px;
    background-image: url("/static/webapp/static/Profile.png");
    background-color: #b1b1b1;
    background-position:left top, center center;
    background-attachment:scroll;
    background-size: 290px 100px;
    overflow:hidden;
  }
  .badge-name{
    font-size:1.4em;
    margin-bottom:5px;
  }
  .badge-role{
    color:#777;
    font-size:1em;
    margin-bottom:25px;
  }
  .badge-desc{
    font-size:0.85rem;
    line-height:20px;
  }
  .badge-avatar{
    width:100px;
    height:100px;
    border-radius:100%;
    border:5px solid #fff;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-top:-75px;
    position:relative;
  }
  .badge-body{
    margin:35px 10px;
  }
  .badge-foot{
    color:#fff;
    background-color:#41257F;
    padding-top:13px;
    padding-bottom:13px;
    display:flex;
    justify-content:center;
  }
  .badge-link{
    height:35px;
    width:35px;
    line-height:35px;
    font-weight:700;
    background-color:#fff;
    color:#1C295E;
    display:block;
    border-radius:100%;
    margin:0 10px;
  }
  .login-header-banner{
    padding-top:35px;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    background-attachment:scroll, scroll;
    background-position:left top, center center;
    background-repeat:repeat-y, no-repeat;
    background-size:contain, cover;
  }
  .login-container-width{
    width:90%;
    max-width:1150px;
    margin:0 auto;
  }
  .login-logo-container{
    float:left;
    width:50%;
  }
  .login-logo{
    background-color:#ffffff;
    border-radius:5px;
    width:130px;
    padding:10px;
    min-height:30px;
    text-align:center;
    line-height:30px;
    color:#41257F;
    font-size:23px;
  }
  .login-lead-title{
    margin:150px 0 30px 0;
    font-size:40px;
  }
  .login-lead-btn{
    margin-top:15px;
    padding:10px;
    width:190px;
    min-height:30px;
    font-size:20px;
    text-align:center;
    letter-spacing:3px;
    line-height:30px;
    background-color:#ffffff;
    border-radius:5px;
    transition:all 0.5s ease;
    cursor:pointer;
    color:#ffffff;
    box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .login-lead-btn:hover{
    box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.9);
  }
  .login-lead-btn:active{
    background-color:#41257F;
    color:#fff;
  }
  #login-i9x7{
    background-color: #41257F;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    font-weight: bold;
    color:#ffffff;
    font-size:15px;
  }
  #login-idya{
    background-color: transparent;
    background-repeat:repeat, repeat;
    background-position:left top, left top;
    background-attachment:scroll, scroll;
    background-size:auto, auto;
    max-width:900px;
    width:800px;
    height:100%;
  }
  #login-iq06{
    background-position: center;
    background-size: cover;
    background-color:#222222;
    background-image: url("/static/webapp/static/Login.png");
  }
  #login-i84nk{
    text-align:center;
    color:#41257F;
    background-image:none;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    font-weight: bold;
    background-size:auto;
  }
  #login-iiwik{
    margin:15px 320px 0 400px;
    border:solid #41257F;
    color: #41257F;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    height:50px;
    width:150px;
    float:right;
  }
  .text{  
    color: #7D7D7D;
    font-size: 20px;
    font-size: 10vw;
    display: inline-block;
    overflow: hidden;
    margin-left: 61.2%;
    letter-spacing: 2px;
    animation: typing 3.5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid #EB852F;
    box-sizing: border-box;
  }
  @keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 40%
    }
  }

  @keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #EB852F; 
    }
  }
  .pwned-form{
    border-radius:3px;
    padding:10px 15px;
    background-color:rgba(0,0,0,0.2);
  }
  .pwned-input{
    width:100%;
    margin-bottom:15px;
    padding:7px 10px;
    border-radius:2px;
    color:#ffffff;
    background-color:#222222;
    border:none;
  }
  .pwned-label{
    width:100%;
    display:block;
  }
  .pwned-button{
    width:100%;
    margin:15px 0;
    background-color:#582583;
    border:none;
    color:#fff;
    border-radius:2px;
    padding:7px 10px;
    font-size:1em;
    cursor:pointer;
    border-radius: 20px;
  }
  .pwned-table, td {
    margin-left: 50px;
    margin-right: 50px;
    table-layout: auto;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    background-color: #222222;
    color: #ffffff;
  }
  #pwned-ipcx{
    font-family:Arial, Helvetica, sans-serif;
  }
  .standardtext{
    text-align:justify; 
    display: inline-block; 
    max-width: 1000px; 
    color: rgba(0, 0, 0, 0.5); 
    font-family: Arial, Helvetica, sans-serif;
  }
  .listtext{
    color: rgba(0, 0, 0, 0.5); 
    font-family: Arial, Helvetica, sans-serif;
  }
  @media (max-width: 768px){
    .foot-form-cont{
      width:400px;
    }
    .foot-form-title{
      width:autopx;
    }
  }
  @media (max-width: 480px){
    .foot-lists{
      display:none;
    }
  }
  