{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/styles.css' %}">
<header class="header-banner" id="iin1" style="background-color: #ffffff;">
  <div class="container-width" id="ifju">
    <div class="logo-container" id="io2t" onclick="location.href='/'">
      <div class="logo"> Home
      </div>
    </div>
    <nav class="menu">
      <div class="menu-item" onclick="location.href='/game'">AWARENESS GAME
      </div>
      <div class="menu-item" onclick="location.href='/emailchecker'"> BREACH CHECKER
      </div>
      <div class="menu-item" style="background-color: white; border: #41257F; color:#41257F; border-style: solid;">SEC-LIBRARY
      </div>
    </nav>
    <div class="clearfix">
    </div>
    <div class="lead-title" style="width: 500px; font-weight: bold;">Detection Techniques
    </div>
    </div>
  </div>
</header>
<section class="flex-sect">
  <div class="container-width">
    <div style="text-align: center;">
      <h1 style="color: #41257F;">Key Points in Detecting Cyber Security/Social Engineering Attacks:</h1>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext">The subject of all types of phishing emails look suspicious, are vague in context and will not relate 
          to any previous tasks completed on your device.</li>
        <li class="listtext">The email address of the sender looks suspicious, has the wrong domain name from the company they are claiming to be from and 
          is long in length.</li>
        <li class="listtext">Phishing emails will have spelling and grammatical errors throughout as hackers prey on the uneducated and unobservant individuals.</li>
        <li class="listtext">Your own company will not attach unsolicited attachments and force you to download and execute files such as .exe - 
          if any new software is to be downloaded, your IT team will do this in a physical and secure manner.
        </li>
        <li class="listtext">Malicious threat actors will ask you to download Remote Access Tools (RAT) such as TeamViewer, LogMeIn and AnyDesk.</li>
        <li class="listtext">Any suspicious URLs in phishing emails will display a non-legitimate website link and will not begin with “https://.”</li>
      </ul>
    </div>
    <div style="text-align: center;">
      <p class="standardText">
        Can you spot the red flags in this phishing email?
      </p>
        <br>
        <br>
        <br>
      <img src="{% static 'webapp/static/phish.png' %}" style="width: 900; height: auto;"></img>
        <br>
        <br>
        <br>
      <img src="{% static 'webapp/static/phishtwo.png' %}" style="width: 900; height: auto;"></img>
    </div>
  </div>
</section>