{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<header class="header-banner" id="iin1" style="background-color: #ffffff;">
    <div class="container-width" id="ifju">
        <div class="logo-container" id="io2t" onclick="location.href='/'">
            <div class="logo"> Home
            </div>
        </div>
        <nav class="menu">
            <div class="menu-item" onclick="location.href='/game'">AWARENESS GAME
            </div>
            <div class="menu-item" onclick="location.href='/emailchecker'"> BREACH CHECKER
            </div>
            <div class="menu-item" style="background-color: white; border: #41257F; color:#41257F; border-style: solid;">SEC-LIBRARY
            </div>
        </nav>
        <div class="clearfix">
        </div>
        <div class="lead-title" style="width: 500px; font-weight: bold;">Network Security
        </div>
    </div>
</header>
<section class="flex-sect">
    <div class="container-width">
        <div style="text-align: center;">
            <h1 style="color: #41257F;">Network Best Practice - What do you need to know?</h1>
            <p class="standardText">
                Thanks to the internet, individuals, businesses and computer systems can now share sensitive data among one another more easily than ever before, but there’s a downside to this near universal connectivity: network attacks are becoming more and more prevalent.
                According to a recent PwC Global Economic Crime Survey, 32 percent of organizations have experienced illegal data breaches due to the new COVID-19 pandemic and WFH environment, making cybercrime the second-most reported economic crime
                in the world. At the same time, IBM reports that within the U.S. the average data breach ends up costing the targeted business approximately $7.35 million dollars.
            </p>
            <br>
            <br>
            <img src="{% static 'webapp/static/netsec.png' %}" style="width: 900; height: auto;">
            <br>
            <br>
            <br>
            <br>
            <h1 style="color: #41257F;">Network Best Practice Checklist for Companies</h1>
            <i class="standardText">(Do you have what it takes?)</i>
            <br>
            <br>
            <table class="normal-table" style="font-family: Helvetica, sans-serif; display: inline-block;">
                <thead>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/code.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">1. Maintain and constantly update your company software
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/eye.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">2. Make visibility your top priority
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/permission.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">3. Keep a close eye on user permissions
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/wall.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">4. Use a reliable network connection with firewalls and technical controls
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/description.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">5. Stay compliant with government and regulatory policies
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/ylock.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">6. Establish a company-wide security policy
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/save.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">7. Always backup your data
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/team.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">8. Don’t forget about third-party users
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"> <img src="{% static 'webapp/static/employee.png' %}" style="width: 50px; height: 50px;"></td>
                        <td class="listtext">9. Educate your employees on safe networking
                        </td>
                    </tr>
                </thead>
            </table>
            <br>
            <br>
            <h1 style="color: #41257F;">REMEMBER: PREVENTION IS ALWAYS THE BEST NETWORK SECURITY PLAN!</h1>
        </div>
    </div>
</section>