{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/styles.css' %}">
<header class="header-banner" id="iin1" style="background-color: #ffffff;">
  <div class="container-width" id="ifju">
    <div class="logo-container" id="io2t" onclick="location.href='/'">
      <div class="logo"> Home
      </div>
    </div>
    <nav class="menu">
      <div class="menu-item" onclick="location.href='/game'">AWARENESS GAME
      </div>
      <div class="menu-item" onclick="location.href='/emailchecker'"> BREACH CHECKER
      </div>
      <div class="menu-item" style="background-color: white; border: #41257F; color:#41257F; border-style: solid;">SEC-LIBRARY
      </div>
    </nav>
    <div class="clearfix">
    </div>
    <div class="lead-title" style="width: 500px; font-weight: bold;">Building a Policy
    </div>
    </div>
  </div>
</header>
<section class="flex-sect">
  <div class="container-width">
    <div style="text-align: center;">
      <h1 style="color: #41257F;">What is a Cyber Security Policy?</h1>
      <p class="standardText">
        A cyber security policy essentially outlines your business’s assets that require protecting, 
        possible threats, and rules and controls to protect them and mitigate risk.
      <br>
      <br>
      It should guide employees on how and where to share business information, use of devices and social media, and 
      the handling, storage and deletion of sensitive materials.
      </p>
      <br>
      <br>
      <img src="{% static 'webapp/static/policy.png' %}" style="width: 150px; height: auto;"></img>
      <br>
      <br>
      <br>
      <br>
      <h1 style="color: #41257F; font-size: 20px;">1. Consider the following steps when creating a security policy for employees working from home:</h1>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext" style="font-weight: bold;color: #EB852F; padding-top: 10px;">Set Password Requirements
          <ul>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Detail the storing, updating and the importance of unique passwords
            </li>
          </ul>
        </li>
        <li class="listtext" style="font-weight: bold; color: #EB852F; padding-top: 10px;">Outline email security measures</li>
          <ul>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              When it’s appropriate to share your work email address
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Only opening email attachments from trusted contacts and businesses
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Blocking junk, spam and scam emails
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Deleting and reporting suspicious looking emails
            </li>
          </ul>
        <li class="listtext" style="font-weight: bold; color: #EB852F; padding-top: 10px;">Explain how to handle sensitive data</li>
          <ul>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              When employees should share sensitive data
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              How you identify what is ‘sensitive data’
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Safe ways to delete or destroy sensitive data
            </li>
          </ul>
        <li class="listtext" style="font-weight: bold; color: #EB852F; padding-top: 10px;">Perform regular data backups</li>
        <li class="listtext" style="font-weight: bold; color: #EB852F; padding-top: 10px;">Handling technology and IT acceptable use</li>
          <ul>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              As we are working from home, where employees can access their devices such as a business laptop away from the workplace e.g. cafes
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              How to report the theft or loss of a work device
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              How system updates will be rolled out to employee devices
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              When to shut down computers and devices when not in use
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Locking screens when computers and devices are left unattended, especially when working from home with different threats e.g. children, family members
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              How to protect the data stored on external hardware such as USB sticks
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Restrictions on how and when to use removable devices so as to prevent malware being installed 
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Scanning all removable devices for viruses before they may be connected to the business systems 
            </li>
          </ul>
        <li class="listtext" style="font-weight: bold; color: #EB852F; padding-top: 10px;">Social media and Internet access</li>
          <ul>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              What information is appropriate/not appropriate to share on social media platforms 
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Guidelines on what you can use your work email for e.g. signing up to new applications/accounts
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              When is it appropriate for staff to sign when using work email account
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              Guidelines around which social media platforms to access during work hours and on what devices
            </li>
          </ul>
        <li class="listtext" style="font-weight: bold; color: #EB852F; padding-top: 10px;">How to handle Cyber Security incidents</li>
          <ul>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              How to respond to a cyber incident 
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              What are the steps to take
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              When is it appropriate for staff to sign when using work email account
            </li>
            <li class="listtext" style="font-weight:normal; padding-top: 10px;">
              What is your role as a staff member when dealing with a cyber attack
            </li>
          </ul>   
      </ul>
      <br>
      <br>
      <br>
      <img src="{% static 'webapp/static/preparation.png' %}" style="width: 150px; height: auto;"></img>
      <br>
      <br>
      <br>
      <br>
      <h1 style="color: #41257F; font-size: 20px;">2. Prepare and Prevent</h1>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext" style="padding-top: 10px;">Develop a policy and procedure to help employees prevent or recognise an attack</li>
        <li class="listtext" style="padding-top: 10px;">Incorporate the key assets into this policy such as technology, financial assets and intellectual property</li>
        <li class="listtext" style="padding-top: 10px;">Consider the risks and the steps the business must take to minimise the effects of an incident </li>
        <li class="listtext" style="padding-top: 10px;">Create roles and responsibilities so everyone is aware of how to report an incident and the next steps</li>
      </ul>
      <br>
      <br>
      <br>
      <img src="{% static 'webapp/static/search.png' %}" style="width: 150px; height: auto;"></img>
      <br>
      <br>
      <br>
      <br>
      <h1 style="color: #41257F; font-size: 20px;">3. Check and Detect</h1>
      <p class="standardText">
        Check and identify any unusual activities that may damage your business information and systems. 
        <br>
        Unusual activity may include:
      </p>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext" style="padding-top: 10px;">Accounts and your network not accessible</li>
        <li class="listtext" style="padding-top: 10px;">Passwords no longer working</li>
        <li class="listtext" style="padding-top: 10px;">Data is missing or altered</li>
        <li class="listtext" style="padding-top: 10px;">Your hard drive runs out of space</li>
        <li class="listtext" style="padding-top: 10px;">Your computer keeps crashing</li>
        <li class="listtext" style="padding-top: 10px;">Your customers receive spam from your business account</li>
      </ul>
      <br>
      <br>
      <br>
      <img src="{% static 'webapp/static/assessment.png' %}" style="width: 150px; height: auto;"></img>
      <br>
      <br>
      <br>
      <br>
      <h1 style="color: #41257F; font-size: 20px;">4. Identify and Access</h1>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext" style="padding-top: 10px;">Find the cause of the incident and assess the impact so you can contain it </li>
        <li class="listtext" style="padding-top: 10px;">Determine the impact the incident has had on your business</li>
        <li class="listtext" style="padding-top: 10px;">Determine its effects on your business and assets if not immediately contained</li>
      </ul>
      <br>
      <br>
      <br>
      <img src="{% static 'webapp/static/board.png' %}" style="width: 150px; height: auto;"></img>
      <br>
      <br>
      <br>
      <br>
      <h1 style="color: #41257F; font-size: 20px;">5. Respond</h1>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext" style="padding-top: 10px;">Limit further damage of the cyber incident by isolating the affected systems. If necessary, disconnect from the network and turn off your computer to stop the threat from spreading</li>
        <li class="listtext" style="padding-top: 10px;">Eliminate the problem with the removal of the threat</li>
        <li class="listtext" style="padding-top: 10px;">Recover from the incident by repairing and restoring your systems to business as usual</li>
      </ul>
      <br>
      <br>
      <br>
      <img src="{% static 'webapp/static/review.png' %}" style="width: 150px; height: auto;"></img>
      <br>
      <br>
      <br>
      <br>
      <h1 style="color: #41257F; font-size: 20px;">6. Review</h1>
      <ul style="display:inline-block; text-align: left; width: 800px;">
        <li class="listtext" style="padding-top: 10px;">Identify if any systems and processes need improving and make those changes</li>
        <li class="listtext" style="padding-top: 10px;">Evaluate the incident before and after, and any lessons learnt</li>
        <li class="listtext" style="padding-top: 10px;">Update your cyber security incident response plan based on the lessons learnt so you can improve your business response</li>
      </ul>
    </div>
  </div>
</section>