{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'css/pwned.css' %}">

<div id="check_title">Check your Email
</div>
<form class="form">
  <div class="form-group">
  </div>
  <div class="form-group">
    <label class="label" id="ipcx">Email</label>
    <input type="email" placeholder="Type here your email" class="input" id="i25v"/>
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    <button type="submit" class="button">Check</button>
  </div>
</form>

